
body {
  --primary-color: #06c;
  font-family: arial, helvetica, veradana, sans-serif;
  font-size: 18px;
  margin: 0;
}

header {
  background: #eee;
  padding: 1em;
  display: flex;
  justify-content: space-between;

  & .logo {
    font-weight: bold;
  }

  & nav a {
    margin: 0 0.5em;
  }
}

footer {
  background: #eee;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: unset;
    gap: 1em;
  }
}

main {
  padding: 1em;
}

aside {
  flex-basis: 15vw;
  border-bottom: solid 1px #ccc;
  margin: 0 1em;
  padding-bottom: 1em;

  @media (min-width: 1024px) {
    border: 0;
  }

  h1 {
    margin-bottom: 0;
  }
}

article {
  border-bottom: solid 1px #ccc;
  margin: 0 0 1em;

  &:last-child {
    border: 0;
  }

  h1, h2, p {
    max-width: 80ch;
  }
}

.post h2, .post h1 {
  margin: 0;
  font-size: 1.5rem;
  color: black;


}

.post a {
  color: var(--primary-color);
}

.post .responsive {
  width: 100%;
}

.post ul {
  margin-left: 17px;
  padding-left: 0;
  margin-top: 0.5em;
}

.post ol {
  padding-left: 0;
  list-style: inside decimal;
}

.post ol li + li {
  margin-top: 1em;
}

.tags {
  margin: 5px 0;

  a {
    padding: 3px 10px 5px;
    background: var(--primary-color);
    border-radius: 10px;
    font-size: smaller;
    color: white;
    line-height: 2.2;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post time {
  display: inline-block;
  font-size: smaller;
  font-style: italic;
}

.post time::before {
  content: "Published on ";
}

.post code {
  background: #f0f0f0;
  font-family: monospace;
  font-size: 16px;
  padding: 0.25em;
  border-radius: 5px;
}

.post pre {
  max-width: 100ch;
  background: #f4f4f4;
  color: #333;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em;
  display: block;
  word-wrap: break-word;
}
.post pre code {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.post table {
  font-size: smaller;
  border-spacing: 0;
  margin-top: 1em;
}

.post tr:nth-child(odd) {
  background: #eee;
}

.post td {
  vertical-align: top;
  padding: 5px;
}

.post td:first-child {
  padding-right: 20px;
  min-width: 160px;
}
